
[Desktop Entry]
Name=OpenMielke Crawler Program
GenericName=Web Program for Keeping a Low Profile
Comment=Duck
Exec=opemielke
Icon=opemielke
StartupNotify=false
Terminal=false
Type=Application
Categories=Network;Utility;
X-Desktop-File-Install-Version=0.16
